
((digest . "146523e8dcb2d286ea6c5cde20b02e23") (undo-list nil (#("  margin-right: 44%; }" 0 2 (fontified t) 2 14 (fontified t) 14 22 (fontified t)) . 11010) ((marker) . -22) nil (#("
" 0 1 (fontified t)) . 11010) ((marker . 11424) . -1) ((marker . 11424) . -1) ((marker) . -1) nil (#("#message #greeting h1, #message #greeting p {" 0 44 (fontified t) 44 45 (fontified t)) . 11010) ((marker) . -45) nil (#("
" 0 1 (fontified t)) . 11010) ((marker . 11011) . -1) ((marker . 11011) . -1) ((marker) . -1) nil (#("  width: 42%; }" 0 2 (fontified t) 2 7 (fontified t) 7 15 (fontified t)) . 11010) ((marker) . -15) nil (#("
" 0 1 (fontified t)) . 11010) ((marker . 11424) . -1) ((marker . 11424) . -1) ((marker) . -1) nil (#("#message #greeting figure.right {" 0 32 (fontified t) 32 33 (fontified t)) . 11010) ((marker) . -33) nil (nil rear-nonsticky nil 11009 . 11010) (nil fontified nil 10892 . 11010) (10892 . 11010) (t 20701 . 14607) nil (#("#works_menu figure.preparation {
  color: #FFF; background: #EED;
}
" 0 31 (face (css-selector) fontified t) 31 33 (fontified t) 33 35 (fontified t) 35 40 (face css-property fontified t) 40 48 (fontified t) 48 58 (face css-property fontified t) 58 65 (fontified t) 65 66 (fontified t) 66 67 (fontified t) 67 68 (fontified t)) . -10320) (t 20701 . 14531) nil (#(" solid" 0 6 (fontified t)) . 10379) nil (#(" 1px" 0 4 (fontified t)) . 10379) nil (10375 . 10378) nil (#("n" 0 1 (face css-property fontified t)) . -10375) nil (10368 . 10376) nil (#("border" 0 6 (face css-property fontified t)) . 10368) nil (#(" width: 10.25em; box-sizing: border-box;" 0 1 (fontified t) 1 6 (face css-property fontified t) 6 17 (fontified t) 17 27 (face css-property fontified t) 27 40 (fontified t)) . 10391) nil (10363 . 10366) nil (#("EED" 0 3 (fontified t)) . 10363) (t 20701 . 14473) nil (10415 . 10431) nil (#("e" 0 1 (fontified t)) . -10415) nil (10411 . 10416) nil (10391 . 10411) (t 20701 . 14417) nil (10363 . 10368) nil (#("e" 0 1 (fontified t)) . -10363) nil (10355 . 10364) nil (10376 . 10378) nil (#("d" 0 1 (fontified t)) . -10376) nil (#(";" 0 1 (fontified t)) . -10377) nil (10374 . 10378) nil (10367 . 10374) nil (#("d" 0 1 (fontified t)) . -10367) nil (#("o" 0 1 (fontified t)) . -10368) nil (10355 . 10369) nil (10353 . 10355) nil (10353 . 10355) nil (10352 . 10353) nil (10338 . 10352) nil (#(" " 0 1 (fontified t)) . -10338) nil (#("{" 0 1 (fontified t)) . -10339) nil (#(" " 0 1 (fontified t)) . -10340) nil (#("p" 0 1 (fontified t)) . -10341) nil (#("a" 0 1 (fontified t)) . -10342) nil (#("r" 0 1 (fontified t)) . -10343) nil (10340 . 10344) nil (10320 . 10340) nil (10319 . 10320) (t 20698 . 42758) nil (5564 . 5565) (t 20698 . 42684) nil (5563 . 5564) nil (nil rear-nonsticky nil 13312 . 13313) (nil fontified nil 1 . 13313) (1 . 13313) nil (#("@charset \"UTF-8\";
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Quicksand:400,700|Forum|Comfortaa:700,300);
@import url(http://fonts.googleapis.com/css?family=Give+You+Glory|Shadows+Into+Light|Nothing+You+Could+Do|Annie+Use+Your+Telescope);
/************************************************
 * Author: ohashi@enika-itamotchi.com		*
 * Update: 2012/2/4				*
 ************************************************/
/************************************************
 * DEFAULT SET 
 ************************************************/
/* ------------ HTML5 */
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* ------------ Global Reset */
* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal; }

/************************************************
 * UTILITY 
 ************************************************/
/* clearfix */
.clearfix:after {
  content: \".\";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  min-height: 1px;
  _height: 1%; }

/* -- */
.left {
  float: left; }

.right {
  float: right; }

.none {
  display: none; }

.small {
  font-size: 80%; }

/************************************************
 * BASE SET
 ************************************************/
/* ------------ Anchor */
a {
  cursor: pointer;
  text-decoration: none;
  padding: 1px 0 0 1px; }

a:hover {
  padding: 0 1px 1px 0; }

a img {
  border: 0; }

/* ------------ Font */
body {
  font-size: 17.5px;
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  /* iPhoneでの文字サイズ自動調整をオフ */ }

html > body {
  /* Child Selector for IE's WebFont bug */
  font-family: \"Quicksand\"; }

header.g > nav,
aside.s > nav,
footer.s > nav a,
footer.s > nav.pager,
.no, .works, .contact_with,
#contact .pageBody {
  font-family: \"Nothing You Could Do\", sans-serif; }

.subject {
  /* IEでは小さな文字はWEBフォントが見えづらくなる恐れあり */
  font-family: sans-serif\\9; }

/* ------------ Color */
.s .indexlist a {
  color: #DDC; }

a,
.locale li a,
.s .indexlist .locale a,
#contact h1 {
  color: #887; }

article h2, article dl dt {
  color: #898;
  font-weight: bold; }

body,
a:hover,
.locale a,
.locale li.locale a {
  color: #332; }

#contact address:hover a {
  color: #E05252; }

#about_us figure.logo {
  background-color: #484; }

.g nav ul li.external:hover {
  background-color: #EEF6EE; }

/*
 * #all -+- #top  -+- #back
 *       |         +- h1
 *       +- .main -+- header.g
 *         (#main) +- .subject (#works_menu, #message, #about_us, contact)
 *        (#works) +- footer.g
 */
/* ------------ Variables */
/* ------------ Z-Index */
#top,
aside.s ul {
  z-index: 0; }

header.s, footer.s,
section.s .contents {
  z-index: 1; }

.narrow aside.s ul,
#works_menu figure a {
  z-index: 2; }

.g nav ul li ul {
  z-index: 3; }

/* ------------ Style */
nav ul {
  list-style-type: none; }

/************************************************
 * BASE LAYOUT
 ************************************************/
html, body, #all, #top, .main {
  width: 100%;
  height: 100%; }

html, body, #all {
  position: relative; }

#top, .main {
  position: absolute; }

#all {
  min-height: 42em;
  min-width: 36em; }

/************************************************
 * TOP
 * #top -+- #back - img
 *       +- h1 --+- .logoh
 *               +- .logob
 ************************************************/
/* #topはJavaScript無効の時は最初から消しておきたい。
 * また、IEは'opacity'に対応していないので、ひとまず'visibility'で消しておく */
.logoh {
  letter-spacing: 0.5em;
  padding-left: 0.25em; }

.logoh, .logob {
  font-size: 150%; }

#top {
  background: #FFF;
  visibility: hidden;
  opacity: 0; }
  #top h1 {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 16em;
    font-size: 120%;
    text-align: center; }
  #top #back img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    _height: 100%;
    /* IE6 not support \"max-..\" property */ }

/************************************************
 * GLOBAL LAYOUT
 ************************************************/
/* JavaScript無効時にヘッダー／フッターが常に表示されるためにfixedにしておく
 * ただし、この指定は配置調整を複雑にするのでJavaScript側で'absolute'に指定し直す */
header.g, footer.g {
  position: fixed;
  width: 100%; }

header.g {
  bottom: 50%;
  margin-bottom: 16em;
  border-bottom: 1px solid #ddddcc; }

footer.g {
  top: 50%;
  margin-top: 16em;
  border-top: 1px solid #ddddcc; }

.subject {
  position: absolute;
  width: 100%;
  top: 50%;
  height: 32em;
  margin-top: -16em; }

/* specific subject */
#works_menu {
  left: 0%; }

#message {
  left: 100%; }

#about_us {
  left: 200%; }

#contact {
  left: 300%; }

/************************************************
 * GLOBAL HEADER / FOOTER
 * header.g -+- h1
 *           +- nav - ul -+- li - ul -+- li
 ************************************************/
/* ------------ Global Header */
header.g {
  padding-top: 1em; }
  header.g h1, header.g nav {
    height: 2em;
    padding: 0 1em; }
  header.g h1 {
    float: left;
    line-height: 1; }
  header.g nav {
    float: right;
    width: 35em;
    padding-right: 0; }
    header.g nav ul li.level1, header.g nav ul li.external {
      float: left;
      _display: inline;
      font-size: 128%;
      height: 1.5625em;
      line-height: 1.5625;
      text-align: center;
      padding-left: 0.25em;
      margin-right: 1.25em; }
    header.g nav ul li.external {
      position: relative;
      width: 5em;
      top: -1.5625em;
      padding-top: 1.5625em;
      _margin-bottom: -1.5625em;
      background: url(../image/blogback.png) no-repeat center center;
      border: 1px solid #EED;
      border-bottom: 0;
      margin-right: 0; }
    header.g nav ul li.locale a.l1 {
      font-weight: bold; }
    header.g nav ul li ul {
      position: absolute;
      *display: none;
      /* IE6,7で表示を制御するのが困難なためあきらめる */ }
      header.g nav ul li ul li {
        display: none;
        /* 表示はJavaScriptで制御する */
        font-size: 62.5%;
        float: left;
        white-space: nowrap;
        margin-right: 0.75em;
        padding: 0 0.325em;
        margin-top: 1em;
        height: 1.25em;
        line-height: 1.5;
        vertical-align: middle;
        border: 1px solid transparent;
        border-radius: 0.6em; }
      header.g nav ul li ul li.locale {
        background: #AA9; }
        header.g nav ul li ul li.locale a {
          color: #FFF;
          padding: 0; }
          header.g nav ul li ul li.locale a:hover {
            padding: 0; }

/* ------------ Global Footer */
footer.g address {
  font-size: 80%;
  text-align: right;
  margin: 1em; }

/************************************************
 * SUBJECT LAYOUT
 * .subject -+- header.s - h1
 *           +- section.s - .contents
 *           +- aside.s - nav.pager - ul
 *           +- footer.s - nav.indexlist
 ************************************************/
.subject header.s, .subject section.s, .subject aside.s, .subject footer.s {
  position: absolute;
  width: 100%;
  /*opacity: 0.5;*/ }
.subject header.s, .subject footer.s {
  height: 3em;
  line-height: 3em;
  vertical-align: middle; }
.subject footer.s {
  bottom: 0;
  /*background: #DEE;*/ }
.subject section.s {
  top: 4em;
  height: 24em;
  overflow: auto; }
.subject header.s h1, .subject footer.s nav, .subject section.s .contents {
  position: relative;
  height: 100%;
  width: 60%;
  max-width: 40em;
  min-width: 32em;
  _width: 32em;
  margin-left: auto;
  margin-right: auto; }
.subject .contents .page {
  position: absolute;
  width: 100%; }
.subject .p1 {
  left: 0%; }
.subject .p2 {
  left: 100%; }
.subject .p3 {
  left: 200%; }
.subject .p4 {
  left: 300%; }

/* ------------ Subject Aside */
.subject aside.s {
  height: 100%;
  /*background: #FFE;*/ }
  .subject aside.s ul li {
    display: none;
    /* active on JavaScript */
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    width: 20%;
    text-align: center;
    height: 3em;
    line-height: 3em;
    vertical-align: middle; }
    .subject aside.s ul li.prev {
      left: 0; }
    .subject aside.s ul li.next {
      right: 0; }

/* ------------ if Narrow */
.narrow .main section.s, .narrow .main footer.s, .narrow .main aside.s {
  position: relative; }
.narrow .main section.s {
  margin-bottom: 4em; }
.narrow .main footer.s {
  bottom: auto; }
.narrow .main aside.s {
  height: auto;
  padding-top: 1em; }
  .narrow .main aside.s ul {
    position: relative;
    width: 60%;
    max-width: 40em;
    min-width: 30em;
    _width: 30em;
    margin-left: auto;
    margin-right: auto; }
    .narrow .main aside.s ul li {
      margin-top: 0; }
    .narrow .main aside.s ul li.prev {
      float: left; }
    .narrow .main aside.s ul li.next {
      float: right; }

/************************************************
 * SUBJECT STYLE
 ************************************************/
/* ------------ Header */
#menu header.s h1 {
  display: none; }

/* ------------ Aside */
aside.s ul li.prev a, aside.s ul li.next a {
  font-size: 150%;
  padding: 0; }

/************************************************
 * ARTICLE (PAGE)
 ************************************************/
article h1 {
  margin: 0 0 2em;
  padding-top: 2em; }
article h2, article p, article dl {
  font-size: 80%;
  margin: 0 0 0.5em;
  padding-top: 0.5em; }
article dt {
  margin-bottom: 0.25em; }
article dd {
  margin: 0.25em 0 0.75em; }
article p.center {
  text-align: center; }

/* ------------ Figure */
figure {
  position: relative;
  height: 100%; }
  figure img {
    max-width: 90%;
    max-height: 100%;
    max-height: 24em\\9;
    /* IEではheightの指定にパーセント表記が通じない */
    _width: 90%; }
  figure img, figure x:-moz-any-link {
    /* FireFoxで高さパーセント単位が通じない */
    max-height: 24em; }
  figure.right, figure.left {
    width: 49%; }
  figure.right, figure.center {
    text-align: center; }

/************************************************
 * WORKS MENU
 ************************************************/
/* ------------ Footer */
#works_menu footer.s nav ul {
  text-align: center; }
  #works_menu footer.s nav ul li {
    font-size: 80%;
    display: inline;
    margin: 0 0.5em; }
#works_menu .contents {
  width: 32em;
  padding-left: 0.25em;
  min-width: 0; }
#works_menu figure {
  float: left;
  width: 10em;
  height: 7.5em;
  padding: 0.25em; }
  #works_menu figure a, #works_menu figure figcaption {
    position: absolute;
    width: 10em;
    height: 7.5em; }
  #works_menu figure a {
    opacity: 1;
    -ms-filter: \"alpha( opacity=$val*100 )\";
    filter: alpha(opacity=100); }
    #works_menu figure a:hover {
      opacity: 0;
      -ms-filter: \"alpha( opacity=$val*100 )\";
      filter: alpha(opacity=0); }
    #works_menu figure a img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%; }
  #works_menu figure figcaption {
    text-align: center;
    padding-top: 3em; }

#message #greeting figure.right {
  width: 42%; }
#message #greeting h1, #message #greeting p {
  margin-right: 44%; }

/************************************************
 * ABOUT US
 ************************************************/
#about_us figure.logo {
  font-size: 100%;
  position: relative;
  float: left;
  width: 12.5em;
  height: 7.0625em;
  margin-top: 0.75em;
  text-align: center; }
  #about_us figure.logo img {
    width: 100%;
    height: 100%;
    max-width: 100%; }
#about_us .logo_right {
  margin-left: 15em; }

/************************************************
 * CONTACT
 ************************************************/
#contact h1 {
  font-size: 200%;
  text-align: center;
  margin: 0.5em 0; }
#contact address {
  text-align: center; }
  #contact address img {
    width: 40%; }
  #contact address:hover img.non-active, #contact address img.active {
    display: none; }
  #contact address:hover img.active {
    display: inline; }
  #contact address.left, #contact address.right {
    width: 49%; }
#contact p a {
  font-size: 140%; }

/************************************************
 * WORKS DETAIL
 ************************************************/
#works header.s {
  height: 4em;
  line-height: 4em; }
#works .w30 {
  width: 30em;
  margin-left: auto;
  margin-right: auto; }
#works h1 .no, #works .return_index a {
  font-size: 150%; }
#works .return_index {
  float: left;
  text-align: center; }
#works .indexlist {
  text-align: center; }
  #works .indexlist li {
    display: inline; }
  #works .indexlist img {
    height: 2em;
    vertical-align: middle;
    margin: 0 0.15em;
    opacity: 0.5;
    -ms-filter: \"alpha( opacity=$val*100 )\";
    filter: alpha(opacity=50); }
  #works .indexlist .locale img {
    opacity: 1;
    -ms-filter: \"alpha( opacity=$val*100 )\";
    filter: alpha(opacity=100); }
#works .pair {
  text-align: center; }

.narrow #works header.s {
  height: 3em;
  line-height: 3em; }
.narrow #works section.s {
  top: 3em;
  margin-bottom: 3em; }
.narrow #works aside.s {
  padding-top: 0; }
  .narrow #works aside.s ul li {
    height: 2.5em;
    line-height: 2.5em; }
.narrow #works footer.s {
  height: auto; }
  .narrow #works footer.s .return_index, .narrow #works footer.s .indexlist {
    height: 2.5em;
    line-height: 2.5em; }
  .narrow #works footer.s .return_index {
    float: none; }
  .narrow #works footer.s .indexlist img {
    height: 1.5em; }" 0 8 (face font-lock-builtin-face fontified t) 8 9 (fontified t) 9 16 (face font-lock-string-face fontified t) 16 18 (fontified t) 18 25 (face font-lock-builtin-face fontified t) 25 35 (fontified t) 35 134 (face font-lock-comment-face fontified t) 134 141 (face font-lock-builtin-face fontified t) 141 151 (fontified t) 151 267 (face font-lock-comment-face fontified t) 267 316 (face font-lock-comment-delimiter-face fontified t) 316 431 (face font-lock-comment-face fontified t) 431 433 (face font-lock-comment-delimiter-face fontified t) 433 434 (fontified t) 434 483 (face font-lock-comment-delimiter-face fontified t) 483 548 (face font-lock-comment-face fontified t) 548 550 (face font-lock-comment-delimiter-face fontified t) 550 551 (fontified t) 551 554 (face font-lock-comment-delimiter-face fontified t) 554 573 (face font-lock-comment-face fontified t) 573 575 (face font-lock-comment-delimiter-face fontified t) 575 576 (fontified t) 576 651 (face (css-selector) fontified t) 651 655 (fontified t) 655 662 (face css-property fontified t) 662 674 (fontified t) 674 677 (face font-lock-comment-delimiter-face fontified t) 677 703 (face font-lock-comment-face fontified t) 703 705 (face font-lock-comment-delimiter-face fontified t) 705 706 (fontified t) 706 708 (face (css-selector) fontified t) 708 712 (fontified t) 712 719 (face css-property fontified t) 719 726 (fontified t) 726 732 (face css-property fontified t) 732 739 (fontified t) 739 748 (face css-property fontified t) 748 758 (fontified t) 758 769 (face css-property fontified t) 769 781 (fontified t) 781 791 (face css-property fontified t) 791 804 (fontified t) 804 853 (face font-lock-comment-delimiter-face fontified t) 853 914 (face font-lock-comment-face fontified t) 914 916 (face font-lock-comment-delimiter-face fontified t) 916 917 (fontified t) 917 920 (face font-lock-comment-delimiter-face fontified t) 920 929 (face font-lock-comment-face fontified t) 929 931 (face font-lock-comment-delimiter-face fontified t) 931 932 (fontified t) 932 948 (face (css-selector) fontified t) 948 952 (fontified t) 952 959 (face css-property fontified t) 959 961 (fontified t) 961 964 (face font-lock-string-face fontified t) 964 968 (fontified t) 968 975 (face css-property fontified t) 975 986 (fontified t) 986 992 (face css-property fontified t) 992 999 (fontified t) 999 1004 (face css-property fontified t) 1004 1014 (fontified t) 1014 1024 (face css-property fontified t) 1024 1037 (fontified t) 1037 1047 (face (css-selector) fontified t) 1047 1051 (fontified t) 1051 1061 (face css-property fontified t) 1061 1068 (fontified t) 1068 1086 (fontified t) 1086 1089 (face font-lock-comment-delimiter-face fontified t) 1089 1092 (face font-lock-comment-face fontified t) 1092 1094 (face font-lock-comment-delimiter-face fontified t) 1094 1095 (fontified t) 1095 1101 (face (css-selector) fontified t) 1101 1105 (fontified t) 1105 1110 (face css-property fontified t) 1110 1121 (fontified t) 1121 1128 (face (css-selector) fontified t) 1128 1132 (fontified t) 1132 1137 (face css-property fontified t) 1137 1149 (fontified t) 1149 1155 (face (css-selector) fontified t) 1155 1159 (fontified t) 1159 1166 (face css-property fontified t) 1166 1177 (fontified t) 1177 1184 (face (css-selector) fontified t) 1184 1188 (fontified t) 1188 1197 (face css-property fontified t) 1197 1207 (fontified t) 1207 1256 (face font-lock-comment-delimiter-face fontified t) 1256 1317 (face font-lock-comment-face fontified t) 1317 1319 (face font-lock-comment-delimiter-face fontified t) 1319 1320 (fontified t) 1320 1323 (face font-lock-comment-delimiter-face fontified t) 1323 1343 (face font-lock-comment-face fontified t) 1343 1345 (face font-lock-comment-delimiter-face fontified t) 1345 1346 (fontified t) 1346 1348 (face (css-selector) fontified t) 1348 1352 (fontified t) 1352 1358 (face css-property fontified t) 1358 1371 (fontified t) 1371 1386 (face css-property fontified t) 1386 1396 (fontified t) 1396 1403 (face css-property fontified t) 1403 1421 (fontified t) 1421 1422 (face css-property fontified t) 1422 1433 (fontified t) 1433 1440 (face css-property fontified t) 1440 1458 (fontified t) 1458 1464 (face (css-selector) fontified t) 1464 1468 (fontified t) 1468 1474 (face css-property fontified t) 1474 1482 (fontified t) 1482 1485 (face font-lock-comment-delimiter-face fontified t) 1485 1503 (face font-lock-comment-face fontified t) 1503 1505 (face font-lock-comment-delimiter-face fontified t) 1505 1506 (fontified t) 1506 1511 (face (css-selector) fontified t) 1511 1515 (fontified t) 1515 1524 (face css-property fontified t) 1524 1536 (fontified t) 1536 1547 (face css-property fontified t) 1547 1588 (fontified t) 1588 12167 (fontified nil) 12167 12169 (fontified t) 12169 12181 (face css-property fontified t) 12181 12191 (fontified t) 12191 12229 (face (css-selector) fontified t) 12229 12233 (fontified t) 12233 12242 (face css-property fontified t) 12242 12252 (fontified t) 12252 12273 (face (css-selector) fontified t) 12273 12277 (fontified t) 12277 12282 (face css-property fontified t) 12282 12292 (fontified t) 12292 12302 (face css-property fontified t) 12302 12314 (fontified t) 12314 12332 (face (css-selector) fontified t) 12332 12336 (fontified t) 12336 12346 (face css-property fontified t) 12346 12358 (fontified t) 12358 12381 (face (css-selector) fontified t) 12381 12387 (fontified t) 12387 12394 (face css-property fontified t) 12394 12406 (fontified t) 12406 12430 (face (css-selector) fontified t) 12430 12436 (fontified t) 12436 12442 (face css-property fontified t) 12442 12453 (fontified t) 12453 12467 (face css-property fontified t) 12467 12481 (fontified t) 12481 12487 (face css-property fontified t) 12487 12503 (fontified t) 12503 12510 (face css-property fontified t) 12510 12533 (fontified t) 12533 12560 (face font-lock-string-face fontified t) 12560 12566 (fontified t) 12566 12572 (face css-property fontified t) 12572 12595 (fontified t) 12595 12627 (face (css-selector) fontified t) 12627 12633 (fontified t) 12633 12640 (face css-property fontified t) 12640 12661 (fontified t) 12661 12688 (face font-lock-string-face fontified t) 12688 12694 (fontified t) 12694 12700 (face css-property fontified t) 12700 12724 (fontified t) 12724 12737 (face (css-selector) fontified t) 12737 12741 (fontified t) 12741 12751 (face css-property fontified t) 12751 12764 (fontified t) 12764 12788 (face (css-selector) fontified t) 12788 12792 (fontified t) 12792 12798 (face css-property fontified t) 12798 12807 (fontified t) 12807 12818 (face css-property fontified t) 12818 12827 (fontified t) 12827 12852 (face (css-selector) fontified t) 12852 12856 (fontified t) 12856 12859 (face css-property fontified t) 12859 12868 (fontified t) 12868 12881 (face css-property fontified t) 12881 12890 (fontified t) 12890 12913 (face (css-selector) fontified t) 12913 12917 (fontified t) 12917 12928 (face css-property fontified t) 12928 12935 (fontified t) 12935 12966 (face (css-selector) fontified t) 12966 12972 (fontified t) 12972 12978 (face css-property fontified t) 12978 12991 (fontified t) 12991 13002 (face css-property fontified t) 13002 13013 (fontified t) 13013 13037 (face (css-selector) fontified t) 13037 13041 (fontified t) 13041 13047 (face css-property fontified t) 13047 13057 (fontified t) 13057 13133 (face (css-selector) fontified t) 13133 13139 (fontified t) 13139 13145 (face css-property fontified t) 13145 13158 (fontified t) 13158 13169 (face css-property fontified t) 13169 13180 (fontified t) 13180 13220 (face (css-selector) fontified t) 13220 13226 (fontified t) 13226 13231 (face css-property fontified t) 13231 13241 (fontified t) 13241 13282 (face (css-selector) fontified t) 13282 13284 (fontified t) 13284 13288 (fontified t) 13288 13294 (face css-property fontified t) 13294 13304 (fontified t)) . -1) (t 20698 . 35633) nil (5554 . 5555) (t 20698 . 33159)))
