
((digest . "da2b74fb9d37d92b5b89e466233a0bea") (undo-list nil (438 . 453) nil (418 . 438) nil (#("s" 0 1 (fontified t)) . -418) nil (405 . 419) nil (404 . 405) nil (#("header a,
footer a { text-decoration: none; font-weight: bold; }
a img { border:0; }
body {
    color: #336;
    font-size: 15px;
/*    font-family: 'Courier', 'Courier New', serif; */
    font-family:  serif;
    letter-spacing: 0.05em;
    line-height:1.75; /* 236.25px */
    padding: 0;
}
#All {
    width: 48em; /* 48(em)*15(px)=720px */
    margin: 0 auto;
}
/* ------------------------ Global */
#GH {
    background: url(image/bar.gif) repeat-x center top;
    padding-top: 38px; /* bar.gif: height=38px */
}
#GH h1, #GH p, #GF address, #GF p { font-size: 80%; /* 15(px)*0.8=12px */}
#GH h1 {
    float: left;
    width: 20em; /* 300px */
}
#GH h1 img { vertical-align: middle; }
#GH p { margin-top: 1em; text-align: right; }
#GN {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#GN ul { list-style-type: none; }
#GN ul li { /* List Item: 5 */
    float: left;
    width: 9em; /* _9_9_9_9_9(_) */
    padding: 0.5em 0 0.5em 0.5em; 
    text-align: center;
}
#GN ul li img {
    vertical-align: middle;
}
#GB { margin: 2em 0; }
#GB h1 { margin-bottom: 1em; }
#GF { 
    background: url(image/bar.gif) repeat-x center bottom;
    padding-bottom: 38px;
    text-align: right; 
    line-height: 1.5; 
    margin-top: 4em;
}
#GF address { margin-bottom: 1em; }

/* ------------------------ PhotoMenu */
#Pmenu {
    margin: 1em 0;
}
#Pmenu article:after {
content:\".\";display:block;height:0;clear:both;visibility:hidden;}
#Pmenu article { min-height:1px; }
* html #Pmenu article {	height:1%; }

#Pmenu article {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 1em;
}
#Pmenu article#pm1 { background: url(image/p_back1.gif) no-repeat right; }
#Pmenu article#pm2 { background: url(image/p_back2.gif) no-repeat right; }
#Pmenu article#pm3 { background: url(image/p_back3.gif) no-repeat right; }
#Pmenu article#pm4 { background: url(image/p_back4.gif) no-repeat right; }
#Pmenu article h2,
#Pmenu article .photo { float: left; height: 10em }
#Pmenu article p {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
#Pmenu article p a {
    display: block;
    height: 100%;
    text-decoration: none;
}
#Pmenu article p a span {
    display: block;
    padding: 2em 4em 2em 21em;
}
/* ------------------------ Profile */
#profile p#c_photo { float: right; width: 17.5em; text-align: right; }
#profile dl { font-size: 80%; }
#profile dt { float: left; width: 6em; }
#profile dd { margin-left: 7em; }

#patisserie { margin: 2em 0; }
#patisserie article { width: 23em; }
#patisserie article

/* ------------------------ ShopImage */
#shopImage { margin: 2em 0.5em; }

/* ------------------------ Common Class */
.h16 { height: 16em; }
.h15 { heigth: 15em; }
.left { float: left; }
.right { float: right; }
.center { text-align: center; }
/*	CLEARFIX	*/
.clearfix:after {	/* for:Modern Browser */
	content:\".\";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {	/* for:IE7 */
	min-height:1px;
}
* html .clearfix {	/* for:IE6 */
	height:1%;
}

" 0 10 (fontified t) 10 19 (fontified t face (css-selector)) 19 21 (fontified t) 21 36 (fontified t face css-property) 36 44 (fontified t) 44 55 (fontified t face css-property) 55 65 (fontified t) 65 71 (fontified t face (css-selector)) 71 73 (fontified t) 73 79 (fontified t face css-property) 79 85 (fontified t) 85 90 (fontified t face (css-selector)) 90 96 (fontified t) 96 101 (fontified t face css-property) 101 109 (fontified t) 109 113 (fontified t) 113 122 (fontified t face css-property) 122 130 (fontified t) 130 136 (fontified t face font-lock-comment-delimiter-face) 136 182 (fontified t face font-lock-comment-face) 182 184 (fontified t face font-lock-comment-delimiter-face) 184 189 (fontified t) 189 200 (fontified t face css-property) 200 214 (fontified t) 214 228 (fontified t face css-property) 228 242 (fontified t) 242 253 (fontified t face css-property) 253 260 (fontified t) 260 263 (fontified t face font-lock-comment-delimiter-face) 263 272 (fontified t face font-lock-comment-face) 272 274 (fontified t face font-lock-comment-delimiter-face) 274 279 (fontified t) 279 286 (fontified t face css-property) 286 293 (fontified t) 293 298 (fontified t face (css-selector)) 298 304 (fontified t) 304 309 (fontified t face css-property) 309 317 (fontified t) 317 320 (fontified t face font-lock-comment-delimiter-face) 320 340 (fontified t face font-lock-comment-face) 340 342 (fontified t face font-lock-comment-delimiter-face) 342 347 (fontified t) 347 353 (fontified t face css-property) 353 365 (fontified t) 365 368 (fontified t face font-lock-comment-delimiter-face) 368 400 (fontified t face font-lock-comment-face) 400 402 (fontified t face font-lock-comment-delimiter-face) 402 403 (fontified t) 403 407 (fontified t face (css-selector)) 407 413 (fontified t) 413 423 (fontified t face css-property) 423 469 (fontified t) 469 480 (fontified t face css-property) 480 488 (fontified t) 488 491 (fontified t face font-lock-comment-delimiter-face) 491 512 (fontified t face font-lock-comment-face) 512 514 (fontified t face font-lock-comment-delimiter-face) 514 517 (fontified t) 517 551 (fontified t face (css-selector)) 551 553 (fontified t) 553 562 (fontified t face css-property) 562 569 (fontified t) 569 572 (fontified t face font-lock-comment-delimiter-face) 572 588 (fontified t face font-lock-comment-face) 588 590 (fontified t face font-lock-comment-delimiter-face) 590 592 (fontified t) 592 599 (fontified t face (css-selector)) 599 605 (fontified t) 605 610 (fontified t face css-property) 610 618 (fontified t) 618 622 (fontified t) 622 627 (fontified t face css-property) 627 635 (fontified t) 635 638 (fontified t face font-lock-comment-delimiter-face) 638 644 (fontified t face font-lock-comment-face) 644 646 (fontified t face font-lock-comment-delimiter-face) 646 649 (fontified t) 649 660 (fontified t face (css-selector)) 660 662 (fontified t) 662 676 (fontified t face css-property) 676 688 (fontified t) 688 694 (fontified t face (css-selector)) 694 696 (fontified t) 696 706 (fontified t face css-property) 706 713 (fontified t) 713 723 (fontified t face css-property) 723 734 (fontified t) 734 738 (fontified t face (css-selector)) 738 744 (fontified t) 744 754 (fontified t face css-property) 754 776 (fontified t) 776 789 (fontified t face css-property) 789 809 (fontified t) 809 816 (fontified t face (css-selector)) 816 818 (fontified t) 818 833 (fontified t face css-property) 833 843 (fontified t) 843 853 (fontified t face (css-selector)) 853 855 (fontified t) 855 858 (fontified t face font-lock-comment-delimiter-face) 858 871 (fontified t face font-lock-comment-face) 871 873 (fontified t face font-lock-comment-delimiter-face) 873 878 (fontified t) 878 883 (fontified t face css-property) 883 895 (fontified t) 895 900 (fontified t face css-property) 900 907 (fontified t) 907 910 (fontified t face font-lock-comment-delimiter-face) 910 924 (fontified t face font-lock-comment-face) 924 926 (fontified t face font-lock-comment-delimiter-face) 926 931 (fontified t) 931 938 (fontified t face css-property) 938 966 (fontified t) 966 976 (fontified t face css-property) 976 988 (fontified t) 988 1002 (fontified t face (css-selector)) 1002 1008 (fontified t) 1008 1022 (fontified t face css-property) 1022 1034 (fontified t) 1034 1038 (fontified t face (css-selector)) 1038 1040 (fontified t) 1040 1046 (fontified t face css-property) 1046 1057 (fontified t) 1057 1064 (fontified t face (css-selector)) 1064 1066 (fontified t) 1066 1079 (fontified t face css-property) 1079 1088 (fontified t) 1088 1092 (fontified t face (css-selector)) 1092 1099 (fontified t) 1099 1109 (fontified t face css-property) 1109 1154 (fontified t) 1154 2244 (fontified nil) 2244 2246 (fontified t) 2246 2249 (fontified t face font-lock-comment-delimiter-face) 2249 2282 (fontified t face font-lock-comment-face) 2282 2284 (fontified t face font-lock-comment-delimiter-face) 2284 2285 (fontified t) 2285 2304 (fontified t face (css-selector)) 2304 2306 (fontified t) 2306 2311 (fontified t face css-property) 2311 2320 (fontified t) 2320 2325 (fontified t face css-property) 2325 2335 (fontified t) 2335 2345 (fontified t face css-property) 2345 2356 (fontified t) 2356 2368 (fontified t face (css-selector)) 2368 2370 (fontified t) 2370 2379 (fontified t face css-property) 2379 2388 (fontified t) 2388 2400 (fontified t face (css-selector)) 2400 2402 (fontified t) 2402 2407 (fontified t face css-property) 2407 2415 (fontified t) 2415 2420 (fontified t face css-property) 2420 2429 (fontified t) 2429 2441 (fontified t face (css-selector)) 2441 2443 (fontified t) 2443 2454 (fontified t face css-property) 2454 2464 (fontified t) 2464 2476 (fontified t face (css-selector)) 2476 2478 (fontified t) 2478 2484 (fontified t face css-property) 2484 2495 (fontified t) 2495 2515 (fontified t face (css-selector)) 2515 2517 (fontified t) 2517 2522 (fontified t face css-property) 2522 2553 (fontified t) 2553 2556 (fontified t face font-lock-comment-delimiter-face) 2556 2591 (fontified t face font-lock-comment-face) 2591 2593 (fontified t face font-lock-comment-delimiter-face) 2593 2594 (fontified t) 2594 2605 (fontified t face (css-selector)) 2605 2607 (fontified t) 2607 2613 (fontified t face css-property) 2613 2629 (fontified t) 2629 2632 (fontified t face font-lock-comment-delimiter-face) 2632 2670 (fontified t face font-lock-comment-face) 2670 2672 (fontified t face font-lock-comment-delimiter-face) 2672 2673 (fontified t) 2673 2678 (fontified t face (css-selector)) 2678 2680 (fontified t) 2680 2686 (fontified t face css-property) 2686 2696 (fontified t) 2696 2701 (fontified t face (css-selector)) 2701 2703 (fontified t) 2703 2709 (fontified t face css-property) 2709 2719 (fontified t) 2719 2725 (fontified t face (css-selector)) 2725 2727 (fontified t) 2727 2732 (fontified t face css-property) 2732 2742 (fontified t) 2742 2749 (fontified t face (css-selector)) 2749 2751 (fontified t) 2751 2756 (fontified t face css-property) 2756 2767 (fontified t) 2767 2775 (fontified t face (css-selector)) 2775 2777 (fontified t) 2777 2787 (fontified t face css-property) 2787 2799 (fontified t) 2799 2802 (fontified t face font-lock-comment-delimiter-face) 2802 2811 (fontified t face font-lock-comment-face) 2811 2813 (fontified t face font-lock-comment-delimiter-face) 2813 2814 (fontified t) 2814 2830 (fontified t face (css-selector)) 2830 2832 (fontified t) 2832 2835 (fontified t face font-lock-comment-delimiter-face) 2835 2854 (fontified t face font-lock-comment-face) 2854 2856 (fontified t face font-lock-comment-delimiter-face) 2856 2858 (fontified t) 2858 2865 (fontified t face css-property) 2865 2866 (fontified t) 2866 2869 (fontified t face font-lock-string-face) 2869 2872 (fontified t) 2872 2879 (fontified t face css-property) 2879 2888 (fontified t) 2888 2894 (fontified t face css-property) 2894 2899 (fontified t) 2899 2904 (fontified t face css-property) 2904 2912 (fontified t) 2912 2922 (fontified t face css-property) 2922 2933 (fontified t) 2933 2943 (fontified t face (css-selector)) 2943 2945 (fontified t) 2945 2948 (fontified t face font-lock-comment-delimiter-face) 2948 2956 (fontified t face font-lock-comment-face) 2956 2958 (fontified t face font-lock-comment-delimiter-face) 2958 2960 (fontified t) 2960 2970 (fontified t face css-property) 2970 2978 (fontified t) 2978 2995 (fontified t face (css-selector)) 2995 2997 (fontified t) 2997 3000 (fontified t face font-lock-comment-delimiter-face) 3000 3008 (fontified t face font-lock-comment-face) 3008 3010 (fontified t face font-lock-comment-delimiter-face) 3010 3012 (fontified t) 3012 3018 (fontified t face css-property) 3018 3025 (fontified t) 3025 3026 (fontified t)) . -404) ((marker . 1) . -2244) ((marker . 404) . -3026) nil (#("" 0 1 (fontified t)) . -3430) nil (3430 . 3431) (t 20135 . 40797)))
